module {
  display: block;
  border: 1px solid black;
  border-bottom: none;
  border-right: none;
  margin-left: 10px;
  padding-left: 10px;
  user-select: none;
}

module > p {
  font-weight: bold;
  cursor: pointer;
}

course-unit {
  display: block;
  border-top: 1px dashed gray;
  margin-left: 10px;
}

module.hide-child > course-unit {
  display: none;
}
